body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    text-align: center;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #333;
    text-align: center;
}
form {
    margin-top: 20px;
    text-align: center;
    align-items: center;
}
textarea[type="text"] {
    width: 97%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #131212;
    border-radius: 5px;
}
button[type="button"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="button"]:hover {
    background-color: #45a049;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 2px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
input[type="file"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
